@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
html {
  width: 100%;
  height: 100%;
  background-color: #ecc9c3;
}

.banner {
  position: fixed;
  height: 10%;
  line-height: 70px;
  width: 99%;
  background-color: #fffafa;
  background-repeat: no-repeat;
  background-size: 26%;
  background-position: 0% 50%;
  z-index: 70;
} 
.buttonContainer{
    position:relative;
    left : 75%;
    top : 15%;    
}
.container {
  position: fixed;
  top: 10%;
  width: 95%;
  height:100%;
  overflow-y: auto;
}
.inner-container {
    position:relative;
    width: 100%;
    height: 90%;
  }  


  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border:none;
  }

  .flex-item {
    width: 350px;
    height: 180px;
    display: flex;
    padding-left: 20px;
    padding-bottom: 15px;
  }
  .flex-item img {
    cursor: pointer;
  }
  .captionFont{
    font-family: 'Monda', sans-serif;
    color: #678b9d;
    font-size: smaller;
  } 

  .title{
    font-family: 'Alegreya', serif;
    color: #678b9d;
  }

  .cards {
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 400px;
      grid-auto-columns: 100px;
      padding: 10px;
      grid-gap: 20px;
    }
    
    .video-grid {
      display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 200px;
        grid-auto-columns: 100px;
        padding: 40px;
        grid-gap: 10px;
      }
       
     
     
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      height: 100%;
      border-radius: 10px; /* 5px rounded corners */
      /* background-color: #dddddd; */
      background: linear-gradient(to bottom,  #B0D0D3 0%,  #B0D0D3 25%, #fffafa 25%, #fffafa 100%);
    }
    
    .add-card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      height: 100%;
      border-radius: 10px; /* 5px rounded corners */
      background-color: #B0D0D3;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .add-card:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .cardcontents {
      padding-left: 10%;
      padding-right: 10%;
      font-family: 'Alegreya', serif;
      color: #d48d85;
      font-weight: 600;
      font-size: 38pt;
      top: -30%;
      z-index: 2;
      position: relative;

    }

    .topContent {
      position:absolute;
      height:10%;
      width:100%;
    }


    .card:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .plus {
      height: 50%;
      width: 50%;
      background-color:  #B0D0D3;
      border:0;
      color:white;
      position:relative;
      top:24%; 
      left:24%;
    }

    .card-title {
      font-family: 'Signika Negative', sans-serif;
      color: #d48d85;
      font-weight: 600;
      font-size: 27pt;
  }
  
  .divider {
    width:5px;
    height:auto;
    display:inline-block;
    }
    .smallGrey {
      color:rgb(150, 141, 141);
      font-size: 13px;
      font-family: 'Alegreya', serif;
    }

    .medGrey {
      color:rgb(150, 141, 141);
      font-size:  20px;
      font-family: 'Monda', sans-serif;
    }
    .red {
      color: red
    }
    
    .text-input {
      padding: 10px;
      margin: 10px 0 0 0;
      box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
      border-radius:10px;
      border: 0;
      width: 90%;
      font-family: 'Monda', sans-serif;
      font-size: inherit;
    }
  
    .text-input:focus {
      outline: none;
      border: 2px solid #678b9d;
    }
  
    .text-input:invalid:focus {
      outline: none;
      border: 2px solid red;
    }

    .submit-button {
      height: 45px ;
      width: 20%;
      color: #FFFFFF;
      font-size: 1em;
      padding: 0.25em 1em;
      font-family: 'Signika Negative', sans-serif;
      background-color: #678b9d;
      border :0 ;
    }
    .submit-button:hover {
      background-color:#bcc6ce;
      cursor:pointer;
    }

    .edit {
      height: 15%;
      width: 15%;
      background-color:  #fffafa;
      border:0;
      color:white;
      top:-45%; 
      left:79%;
      position: relative;
    }
      .mountains {
      height: 200px;
      width: 100%;
      top:-10%;
      position:relative
    
    } 

    .text-input-1 {
      padding: 10px;
      margin: 10px 0 0 0;
      box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
      border-radius:10px;
      border: 0;
      width: 23%;
      font-family: 'Monda', sans-serif;
      font-size: inherit;
    }
  
    .text-inpu-1t:focus {
      outline: none;
      border: 2px solid #678b9d;
    }
    

    .navButton {
    font-family: 'Signika Negative', sans-serif;
    text-decoration: none;
} 
 .navButton :hover {
    cursor:pointer;
  }